.donation{
    max-width: 1440px;
    margin: auto;
}

p, span, li{
    font-size: 18px;
}


.header, .grid-container{
    padding: 20px 6rem;
}

.header{
    max-width: 950px;
    margin: 60px 0;
}

.header h2{
    font-size: 54px;
}

.grid h3{
    font-size: 31px;
}

.grid h4{
    font-size: 22px;
}

.grid h5{
    font-size: 20px;
}

.value{
    font-family: '__Quicksand_1b586d';
    font-size: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    margin: 20px 0;
    background-image: url("/images/png/vector-involved.png");
    background-repeat: no-repeat;
    background-position: 40% center;
    background-size: 650px;
}

.grid{
    border: 10px solid rgba(240, 240, 240, 1);
    border-radius: 10px;
    padding: 20px;
}

.grid-1{
    grid-area: 1 / 1 / span 5 / span 5;
    background-color: rgba(221, 238, 255, 1);
}

.grid-2{
    grid-area: 2 / 7 / span 5 / span 5;
    background-color: rgba(222, 255, 242, 1);
}

.btn-1{
    background-color: rgba(14, 62, 110, 1);
    color: white;
    width: max-content;
    height: 46px;
    margin: 20px 0;
    padding: 7px 14px;
    border-radius: 7px;
    font-weight: bold;
}

@media (max-width: 1000px){
    
}

@media (max-width: 768px){
    .header, .grid-container{
        padding: 30px 3rem;
    }

    .header h2{
        font-size: 31px;
        margin: 20px 0;
    }
    
    .grid-container{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(10, 1fr);
        background-position: 150px center;
        background-size: contain;
    }

    .grid-1{
        grid-area: 1 / 1 / span 4 / span 6;
    }

    .grid-2{
        grid-area: 6 / 1 / span 4 / span 6;
    }
}

@media (max-width: 425px){
    .header, .grid-container{
        padding: 0px 15px;
    }
}