html {
  overflow-x: hidden;
}
body {
  background-color: #FDFDFD;
  width: 100vw;
}

main{
  display: flex;
  justify-content: center;
  height: 110vh;
}

.landing{
  width: 87vw;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.main-landing-1{
  width: 30vw;
}